/* .sectorsss{
    display: flex;
}
.sectorsss img{
    padding: 5px;
    height: 250px;
    width: 250px;
} */

div.scrollmenu {
    /* margin-top: 20px; */
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    /* display: inline-block; */
    color: white;
    /* text-align: center; */
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  .scrollmenu img{
    height: 350px;
    width: 350px;
  }

  .scrollmenu{
      display: flex;
  }
  .sect{
      display: flex;
  }
